@font-face {
    font-family: Hobbylos;
    src: url('/resources/AsketCondensed.otf');
}

.swal2-html-container .card {
    text-align: left;

    .media-right {
        display: none;
    }
}

.is-family-hobbylos {
    font-family: Hobbylos, sans-serif;
}

.switch[type=checkbox]:checked+label::before, .switch[type=checkbox]:checked+label:before {
    background: rgb(76, 201, 255) !important;
}

.is-hobbylos {
    background-color: rgb(76, 201, 255);
}

.input-box {
    width: 50%;
    margin: auto;
}

.input-autocomplete {
    width: 100%;
    position: absolute;
    z-index: 1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.fi {
    border-radius: 3px;
    background-size: unset !important;
    margin-right: 0.5rem;
    text-decoration: none !important;
}

.city-button {
    justify-content: left;
    border: none;
    box-shadow: none;
}

.city-line {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.text-wrap {
    text-wrap: balance;
}

#map {
    height: 500px;
}

html {
    background-image: url("/resources/Kachel.png");
}

.profile-icon {
    position: absolute;
    top: 1rem;
    right:1rem;
    width: 4rem;
    border-radius: 100%;
    border: 3px solid white;
}

@media screen and (max-width: 959px) {
    .input-box {
        width: 90%;
        left: 5%;
    }

    #map {
        height: 300px;
    }

    .profile-icon {
        position: relative;
        width: 4rem;
        border-radius: 100%;
        border: 3px solid white;
        float: right;
        top: 0;
    }
}