@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css";

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    height: 100% !important;
    top: 0%;
}

.profile {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
}

.description {
    width: 100%;
    height: 10%;
}

.dtext {
    width: 100%;
    font-style: normal;
}

.shade {

    width: 100%;
    height: 15%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    box-shadow: 0px -10px 5px rgba(0, 0, 0, 0.5);
}

.profileimg {
    height: auto;
    width: 100%;
}

.text {
    position: absolute;
    left: 5%;
}

.slider {
    width: 100%;
    height: 100%;
}

.dislike-button {
}

.button-group {
    position: absolute;
    left: 60%;
}

.swiper {
    height: auto !important;
    width: 40%;
}

@media only screen and (max-width: 768px) {
    .swiper {
        height: 80%;
        width: 100%;
    }

    .description {
        width: 90%;
        height: 10%;
        margin-left: 5%;
    }

    .dislike-button {
        font-size: .75rem;;
    }

    .like-button {
        font-size: .75rem;
    }
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
}

.invis {
    opacity: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideRight {
    0% {
        left: 0%;
        transform: rotate(0deg);
    }
    100% {
        left: 100%;
        transform: rotate(5deg);
    }
}

@keyframes slideLeft {
    0% {
        left: 0%;
        transform: rotate(0deg);
    }
    100% {
        left: -300%;
        transform: rotate(-5deg);
    }
}

