@font-face { font-family: Hobbylos; src: url('/resources/AsketCondensed.otf'); }

.is-family-hobbylos {
    font-family: Hobbylos, sans-serif;
}

.box {
    width: 50%;
    margin: auto;
}

.checkbox-box {
    display: flex;
    flex-direction: column;
}

html {
    background-image: url("/resources/Kachel.png");
}