@font-face { font-family: Hobbylos; src: url('/resources/AsketCondensed.otf'); }

.card {
    width: 30%;
    margin:auto;
    position: absolute;
    left: 35%;
}

.is-family-hobbylos {
    font-family: Hobbylos, sans-serif;
}

.media-content {
    overflow: visible;
}

.icon-text {
    flex-wrap: nowrap;
}

html {
    background-image: url("/resources/Kachel.png");
}

@media screen and (max-width: 959px) {
    .card {
        width: 90%;
        left: 5%;
    }
}